// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: arial;
}

body h1 {
  font-size: 24px;
}


body h2 {
  font-size: 18px;
}

body {
  font-size: 12px;
}

.btn {
  background-color: lightblue;
  color: white;
  font-weight: bold;
  font-size: 12px;
  border-radius: 5px;
}


.btn:hover {
  opacity: 0.7;
  background-color: lightgrey;
}
